section
	.blogs
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfr
					.first-posts.dfr
						a.post.dfc(href="#")
							img(src="https://via.placeholder.com/920X337", alt="")
							.description
								h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
								.meta.dfr
									p by Abacus
									p November 17, 2019
						a.post.dfc(href="#")
							img(src="https://via.placeholder.com/440X337", alt="")
							.description
								h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
								.meta.dfr
									p by Abacus
									p November 17, 2019
					.content
						.news.dfr
							a.post.dfc(href="#")
								img(src="https://via.placeholder.com/440X337", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/202X132", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/202X132", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/202X132", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/202X132", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/440X287", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/440X287", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/440X287", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/440X287", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/440X287", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
									.meta.dfr
										p by Abacus
										p November 17, 2019
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia...
						nav.navigation.pagination(role="navigation")
							.nav-links
								a.prev.page-numbers(href="#") »
								span.page-numbers.current(aria-current="page") 2
								a.page-numbers(href="#") 3
								span.page-numbers.dots …
								a.page-numbers(href="#") 10
								a.page-numbers(href="#") 11
								a.next.page-numbers(href="#") »
					.sidebar
						form
							h3 Newsletter
							.input.label
								label Name
								input(type="text")
							.input.label
								label Email
								input(type="text")
							.input
								input.button(type="submit" value="Send Request")
						.news
							h3 Recent News
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/115X75", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/115X75", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/115X75", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/115X75", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit...
							a.post.dfr(href="#")
								img(src="https://via.placeholder.com/115X75", alt="")
								.description
									h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit...
