section
	.map.contacts
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					form
						h3 Contact Us
						.input.label
							label Name
							input(type="text")
						.input.label
							label Email
							input(type="text")
						.input.label
							label Phone
							input(type="text")
						.input
							input.button(type="submit" value="Send Request")
					ul
						li
							strong Office Address
							| 143 Willowdale Ave.
							br
							| Suite #100br
							br
							| Toronto, Ontario
							br
							| M2N 4Y5
						li
							a.icon-phone(href="tel:416-440-1600") 416-440-1600
							a.icon-fax(href="fax:416-946-1296") 416-946-1296
						li
							strong Hours of Operation
							| Monday to Friday
							br
							| 9:00 AM – 5:30 PM
		#map(data-lat="43.660412" data-lng="-79.374814")
