footer
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfr
				a.logo(href="#")
					img(src="img/logo-white.svg", alt="#")
				ul.menu
					li
						a(href="#") Services
					li
						a(href="#") Team
					li
						a(href="#") Contact
					li
						a(href="#") Blog
				ul.soc
					li.icon-facebook
						a(href="#")
					li.icon-linkedin
						a(href="#")
					li.icon-twitter
						a(href="#")
				p.copyright Copyright Abacus 2019
