header
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfr
				a.logo(href="/")
					img(src="img/logo.svg", alt="Logo")
				.burger-menu
					span
					span
					span
				ul.menu
					li
						a(href="#") Asurance
					li
						a(href="#") Advisory
					li
						a(href="#") Taxation
					li
						a(href="#") Team
					li
						a(href="#") Contact
					li
						a(href="#") Blog
				form.search
					input(type="search")
					button.icon-search.dfc
