section
	.banner
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfr
					.left-block
						h1 Taxation
						p Effective and efficient analysis through our experienced professionals can help you understand the impact on your company. We are able to assist you with the impact of future tax changes or issues that may arise, in a manner that is tax-efficient and maximizes wealth to stakeholders. The bread-and-butter of our work is to ensure our corporate tax clients stay compliant with the Income Tax Act and file their required returns within the prescribed timelines. We work with your team to ensure that you get the best overview of your tax position and that your questions get answered promptly and accurately.
					.right-block
						img(src="img/taxation.svg", alt="#")
	.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfr
					.content
						h2 Corporate Taxation
						h6 Most business owners face a multitude of challenges and opportunities when managing hard-earned profits, including:
						ul
							li investing within your company,
							li structuring effective compensation arrangements
							li managing taxes payable
						p The ever-changing legislative environment brings about new and unique challenges of complying with existing laws and regulations. Preparing your corporate tax returns becomes more complicated and more time-consuming with business owners facing increased uncertainty as to whether everything is being done with respect to following the rules of the law.
						blockquote
							p
								em Effective and efficient analysis through our experienced professionals can help you understand the impact on your company.
						h6 We are able to assist you with the impact of future tax changes or issues that may arise, in a manner that is tax-efficient and maximizes wealth to stakeholders.
						p The bread-and-butter of our work is to ensure our corporate tax clients stay compliant with the Income Tax Act and file their required returns within the prescribed timelines. We work with your team to ensure that you get the best overview of your tax position and that your questions get answered promptly and accurately.
						h2 Personal Taxation
						h6 When it comes to assessing your personal taxes, the goal is simple:
						blockquote
							p
								em To maximize the available after-tax wealth for you, your family and your estate.
						p A comprehensive approach involving an analysis of potential personal scenarios and incorporating current and future tax legislation is critical in achieving those objectives.
						h6 Our advisors are able to assist you through all aspects of personal taxation:
						ul
							li preparation of your personal tax returns,
							li information returns,
							li electives,
							li calculating current and future tax liabilities
							li projected installment payments.
						h2 Indirect Taxation
						p Indirect taxes in Canada include Harmonized Sales Tax (“HST”), Goods and Services Tax (“GST”) and Provincial Sales Tax (“PST”), which are broadly defined as consumption taxes. As these taxes are paid on most goods and services sold or provided in Canada, most transactions will be impacted, and a tax liability could arise regardless of your company’s profitability. Abacus can help with the planning and application of compliance solutions to reduce cost, minimize the risk of error and ensure that your company is not missing out on refund opportunities.
					.sidebar
						form
							h3 Contact Us
							.input.label
								label Name
								input(type="text")
							.input.label
								label Email
								input(type="text")
							.input.label
								label Phone
								input(type="text")
							.input
								input.button(type="submit" value="Send Request")

	.services(style="background-color: #F9F9F9;")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Our Services
					.items.dfr
						.item-service.dfr
							svg(width='57', height='57', viewBox='0 0 57 57', fill='none', xmlns='http://www.w3.org/2000/svg')
								path.hover(d='M37.9688 5.4375C30.4732 5.4375 24.375 11.5357 24.375 19.0312C24.375 20.7042 24.6759 22.3382 25.2677 23.886L25.2958 23.9603C25.8576 23.7075 26.4666 23.5625 27.0938 23.5625C28.2547 23.5625 29.3675 24.0238 30.1877 24.8439L32.1561 26.8123C32.9762 27.6325 33.4375 28.7453 33.4375 29.9062V30.2606C33.4375 30.7726 33.3405 31.2747 33.1674 31.7505C34.6999 32.3287 36.3148 32.625 37.9688 32.625C45.4643 32.625 51.5625 26.5268 51.5625 19.0312C51.5625 11.5357 45.4643 5.4375 37.9688 5.4375Z', fill='#DADADA')
								path(d='M12.5879 38.0608L18.0244 32.6243L24.3669 38.9668L18.9304 44.4033L12.5879 38.0608Z', fill='#DADADA')
								path(d='M40.6875 12.6875H38.875V10.875H37.0625V12.6875H35.25C34.2504 12.6875 33.4375 13.5004 33.4375 14.5V18.125C33.4375 19.1246 34.2504 19.9375 35.25 19.9375H40.6875V23.5625H35.25V21.75H33.4375V23.5625C33.4375 24.5621 34.2504 25.375 35.25 25.375H37.0625V27.1875H38.875V25.375H40.6875C41.6871 25.375 42.5 24.5621 42.5 23.5625V19.9375C42.5 18.9379 41.6871 18.125 40.6875 18.125H35.25V14.5H40.6875V16.3125H42.5V14.5C42.5 13.5004 41.6871 12.6875 40.6875 12.6875Z', fill='black')
								path(d='M37.9688 0C27.4744 0 18.9375 8.53687 18.9375 19.0312C18.9375 23.0269 20.1809 26.7344 22.2933 29.8002L19.3906 32.7029L18.0322 31.3445L2.40478 46.9048C1.378 47.9325 0.8125 49.2973 0.8125 50.75C0.8125 52.2027 1.378 53.5675 2.40478 54.5952C3.43156 55.6229 4.79728 56.1875 6.25 56.1875C7.70272 56.1875 9.06753 55.622 10.0961 54.5934L25.6546 38.9669L24.2971 37.6094L27.1998 34.7067C30.2656 36.8191 33.9731 38.0625 37.9688 38.0625C48.4631 38.0625 57 29.5256 57 19.0312C57 8.53687 48.4631 0 37.9688 0ZM30.2819 34.4167C27.1409 32.8407 24.539 30.3467 22.8552 27.2709L24.6414 25.4847C25.9519 24.1742 28.2374 24.1742 29.5479 25.4847L31.5163 27.453C32.1706 28.1082 32.5312 28.9801 32.5312 29.9062V30.2606C32.5312 31.0064 32.2848 31.7459 31.8371 32.3423L30.2819 34.4167ZM8.81378 53.3138C7.40003 54.7275 5.09997 54.7275 3.68712 53.3138C2.27428 51.9 2.27338 49.6 3.68622 48.188L15.3062 36.6179L20.383 41.6947L8.81378 53.3138ZM21.6608 40.4106L16.5894 35.3392L18.0294 33.9046L23.0945 38.9697L21.6608 40.4106ZM23.0156 36.3279L20.6721 33.9844L23.4017 31.2547C24.114 32.1021 24.8979 32.886 25.7452 33.5983L23.0156 36.3279ZM37.9688 36.25C35.8644 36.25 33.8562 35.8522 31.9911 35.158L33.2871 33.4297C33.9686 32.5208 34.3438 31.3952 34.3438 30.2606V29.9062C34.3438 28.4952 33.7946 27.1685 32.7968 26.1716L30.8284 24.2032C29.8315 23.2054 28.5048 22.6562 27.0938 22.6562C25.6827 22.6562 24.356 23.2054 23.3591 24.2032L22.0333 25.5291C21.2113 23.5226 20.75 21.3304 20.75 19.0312C20.75 9.53647 28.474 1.8125 37.9688 1.8125C47.4635 1.8125 55.1875 9.53647 55.1875 19.0312C55.1875 28.526 47.4635 36.25 37.9688 36.25Z', fill='black')
								path(d='M27.094 26.2812C26.862 26.2812 26.63 26.3701 26.4533 26.5468C26.0989 26.9011 26.0989 27.4748 26.4533 27.8282C26.63 28.0049 26.862 28.0938 27.094 28.0938C27.326 28.0938 27.558 28.0049 27.7347 27.8282C28.089 27.4739 28.089 26.9002 27.7347 26.5468C27.558 26.3701 27.326 26.2812 27.094 26.2812Z', fill='black')
								path(d='M29.8127 29C29.5807 29 29.3487 29.0888 29.172 29.2655C28.8177 29.6199 28.8177 30.1935 29.172 30.547C29.3487 30.7237 29.5807 30.8125 29.8127 30.8125C30.0447 30.8125 30.2767 30.7237 30.4535 30.547C30.8078 30.1926 30.8078 29.619 30.4535 29.2655C30.2767 29.0888 30.0447 29 29.8127 29Z', fill='black')

							h3 Corporate Taxation
							p Effective and efficient analysis through our experienced professionals can help you understand the impact on your company.
							a(href="#") Read More
							a.link(href="#")
						.item-service.dfr
							svg(width='58', height='57', viewBox='0 0 58 57', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M20.8438 30.8612V35.9235C20.8438 36.2289 20.4205 36.4047 20.203 36.1891L14.8752 30.8612H5.4375C3.93856 30.8612 2.71875 29.6414 2.71875 28.1425V4.57996C2.71875 3.08102 3.93856 1.86121 5.4375 1.86121H23.5625C25.0614 1.86121 26.2812 3.08102 26.2812 4.57996V27.2362H28.0938V4.57996C28.0938 2.08142 26.061 0.0487061 23.5625 0.0487061H5.4375C2.93897 0.0487061 0.90625 2.08142 0.90625 4.57996V28.1425C0.90625 30.641 2.93897 32.6737 5.4375 32.6737H14.1248L18.9216 37.4714C19.3294 37.8774 19.8931 38.1112 20.4686 38.1112C21.6748 38.1112 22.6562 37.1297 22.6562 35.9235V32.6737H29V30.8612H20.8438Z', fill='black')
								path(d='M21.75 11.83H20.8438V8.42517C20.8438 6.87277 20.2393 5.4128 19.1409 4.31442C18.7277 3.90117 18.1785 3.67371 17.5939 3.67371C16.3877 3.67371 15.4062 4.65517 15.4062 5.86139V8.89733C15.4062 10.3609 14.5933 11.6759 13.2847 12.3311C12.7537 12.5957 12.1601 12.7362 11.5674 12.7362H9.96875V10.9237H4.53125V29.0487H9.96875V27.2362H10.6611L11.4586 27.635C12.1211 27.9666 12.8642 28.1425 13.6073 28.1425H21.75C23.2489 28.1425 24.4688 26.9226 24.4688 25.4237C24.4688 24.725 24.196 24.0933 23.7619 23.6112C24.1969 23.1291 24.4688 22.4974 24.4688 21.7987C24.4688 21.1 24.196 20.4683 23.7619 19.9862C24.1969 19.5041 24.4688 18.8724 24.4688 18.1737C24.4688 17.475 24.196 16.8433 23.7619 16.3612C24.1969 15.8791 24.4688 15.2474 24.4688 14.5487C24.4688 13.0498 23.2489 11.83 21.75 11.83ZM8.15625 27.2362H6.34375V12.7362H8.15625V27.2362ZM21.75 26.33H13.6073C13.1452 26.33 12.683 26.2203 12.2697 26.0137L11.0889 25.4237H9.96875V14.5487H11.5674C12.4392 14.5487 13.3137 14.3421 14.0949 13.9524C16.0216 12.9881 17.2188 11.0515 17.2188 8.89733V5.86139C17.2188 5.55508 17.6438 5.38017 17.8595 5.59586C18.6153 6.35167 19.0312 7.3558 19.0312 8.42517V13.6425H21.75C22.2493 13.6425 22.6562 14.0494 22.6562 14.5487C22.6562 15.048 22.2493 15.455 21.75 15.455H19.0312V17.2675H21.75C22.2493 17.2675 22.6562 17.6744 22.6562 18.1737C22.6562 18.673 22.2493 19.08 21.75 19.08H19.0312V20.8925H21.75C22.2493 20.8925 22.6562 21.2994 22.6562 21.7987C22.6562 22.298 22.2493 22.705 21.75 22.705H19.0312V24.5175H21.75C22.2493 24.5175 22.6562 24.9244 22.6562 25.4237C22.6562 25.923 22.2493 26.33 21.75 26.33Z', fill='black')
								path.hover(d='M38.0625 14.5487C31.5556 14.5487 26.2812 19.8231 26.2812 26.33V27.2362C26.2812 31.636 28.8994 35.416 32.6576 37.1288C30.9222 35.0363 29.9062 32.3656 29.9062 29.5136V26.33L32.625 23.6112C34.9776 25.3757 37.8396 26.33 40.7812 26.33H46.2188V29.5136C46.2188 32.3647 45.2028 35.0363 43.4674 37.1288C47.2256 35.416 49.8438 31.636 49.8438 27.2362V26.33C49.8438 19.8231 44.5694 14.5487 38.0625 14.5487Z', fill='#DADADA')
								path.hover(d='M12.2969 50.9474L10.875 49.8762L9.45306 50.9474L8.95644 50.71C8.40816 50.4481 7.92059 50.0801 7.50825 49.6152L7.16841 49.2319L7.71306 47.4937L6.29297 46.4234L6.35006 45.9105C6.41984 45.2806 6.64459 44.5565 6.9355 44.021L7.19469 43.5452L8.93016 43.5533L9.46303 41.9366L9.97688 41.8305C10.5813 41.7064 11.1695 41.7064 11.774 41.8305L12.2842 41.9357L12.8288 43.5551L14.4601 43.5425L14.7202 44.02C15.1135 44.7441 15.3419 45.3794 15.4008 45.9105L15.4579 46.4234L14.0378 47.4937L14.5824 49.2319L14.2417 49.6152C13.8293 50.0801 13.3418 50.4481 12.7935 50.71L12.2969 50.9474Z', fill='#DADADA')
								path(d='M50.4428 44.1849L42.8964 41.5214C42.2267 41.2858 41.779 40.675 41.7138 39.9781C45.047 37.6164 47.125 33.7558 47.125 29.5136V25.4237H40.7812C38.0543 25.4237 35.351 24.522 33.1687 22.8862L32.5398 22.4141L29 25.9548V29.5136C29 33.7558 31.078 37.6164 34.4112 39.9781C34.346 40.675 33.8974 41.2858 33.2277 41.5214L25.6813 44.1849C23.6794 44.8918 22.0092 46.2004 20.8428 47.8625V42.6425C20.8428 40.1439 18.8101 38.1112 16.3116 38.1112H14.4991V36.6739C14.5 35.4677 13.5185 34.4862 12.3123 34.4862C11.7368 34.4862 11.1732 34.72 10.7653 35.1269L7.78106 38.1112H5.4375C2.93897 38.1112 0.90625 40.1439 0.90625 42.6425V49.8925C0.90625 52.391 2.93897 54.4237 5.4375 54.4237H16.3125C17.3384 54.4237 18.2745 54.0685 19.0349 53.4912C19.0349 53.5229 19.0312 53.5537 19.0312 53.5854V56.2362H57.0938V53.5854C57.0938 49.3668 54.4212 45.5896 50.4428 44.1849ZM19.0312 49.8925C19.0312 51.3914 17.8114 52.6112 16.3125 52.6112H5.4375C3.93856 52.6112 2.71875 51.3914 2.71875 49.8925V42.6425C2.71875 41.1435 3.93856 39.9237 5.4375 39.9237H8.53144L12.0459 36.4093C12.2643 36.19 12.6875 36.3685 12.6875 36.6739V39.9237H16.3125C17.8114 39.9237 19.0312 41.1435 19.0312 42.6425V49.8925ZM42.3581 43.2533L42.8484 43.4264L41.9739 48.2349L39.4192 46.1913L42.3581 43.2533ZM38.0625 44.986L35.3111 42.2347C35.641 41.8685 35.8975 41.439 36.057 40.9686C36.6071 41.245 37.1789 41.4906 37.7761 41.6891L38.0625 41.7852L38.3489 41.69C38.9461 41.4906 39.5179 41.2459 40.068 40.9695C40.2275 41.4399 40.4831 41.8685 40.8139 42.2356L38.0625 44.986ZM30.8125 29.5136V26.7052L32.7256 24.7921C35.0973 26.3726 37.9284 27.2362 40.7812 27.2362H45.3125V29.5136C45.3125 34.1636 42.4116 38.2879 38.0625 39.8712C33.7134 38.287 30.8125 34.1636 30.8125 29.5136ZM33.7669 43.2533L36.7058 46.1922L34.1511 48.2358L33.2766 43.4273L33.7669 43.2533ZM55.2812 54.4237H49.8438V50.7987H48.0312V54.4237H28.0938V50.7987H26.2812V54.4237H20.8438V53.5854C20.8438 50.1335 23.0305 47.0432 26.2858 45.895L31.5457 44.0381L32.9114 51.5491L38.0625 47.4284L43.2136 51.5491L44.5793 44.0381L49.8392 45.895C53.0945 47.0432 55.2812 50.1344 55.2812 53.5854V54.4237Z', fill='black')
							h3 Indirect Taxation
							p Abacus can help with the planning and application of compliance solutions to reduce cost and ensure that your company is not missing out on refund opportunities.
							a(href="#") Read More
							a.link(href="#")
						.item-service.dfr
							svg(width='58', height='59', viewBox='0 0 58 59', fill='none', xmlns='http://www.w3.org/2000/svg')
								path.hover(d='M3.74219 24.465H14.968V35.6908H3.74219V24.465Z', fill='#DADADA')
								path.hover(d='M3.74219 40.3683H14.968V51.5941H3.74219V40.3683Z', fill='#DADADA')
								path.hover(d='M28.0648 18.8522H3.74219V9.49731H28.0648V18.8522Z', fill='#DADADA')
								path(d='M41.2202 30.0779C41.7761 30.0779 42.3137 30.2406 42.7769 30.5493L49.3102 34.9052C50.0822 35.4186 50.9793 35.6908 51.9052 35.6908H58V33.8199H51.9061C51.3507 33.8199 50.8117 33.6573 50.3485 33.3485L47.7097 31.589V0.142456H12.1613V5.75536H0V58.1425H35.5484V52.5296H47.7097V44.6592C47.7686 44.6451 47.8294 44.6405 47.8883 44.6264L52.24 43.5388C53.2056 43.2971 54.1991 43.1747 55.1936 43.1747H58V41.3037H55.1936C54.0466 41.3037 52.8996 41.4449 51.7864 41.7231L47.4347 42.8107C45.1978 43.3693 42.8171 43.2784 40.6319 42.5498L39.0555 42.0241C37.6203 41.5458 36.1258 41.3037 34.6129 41.3037H26.4498C26.4498 39.7566 27.7091 38.4973 29.2563 38.4973H39.5466C41.0941 38.4973 42.353 37.238 42.353 35.6908C42.353 34.2556 41.2659 33.0826 39.875 32.9173L40.6428 30.0779H41.2202ZM40.0385 44.3244C41.4737 44.8036 42.9688 45.0457 44.4812 45.0457C44.9352 45.0457 45.3879 45.0064 45.8387 44.9625V50.6586H35.5484V47.5986C35.8768 47.22 36.1312 46.7719 36.2678 46.2648L37.0338 43.4273C37.5157 43.5255 37.9935 43.6425 38.4626 43.7996L40.0385 44.3244ZM35.1592 43.1962L34.4622 45.7761C34.2808 46.448 33.6683 46.9166 32.9731 46.9166H32.6698C31.8197 46.9166 31.1281 46.2255 31.1281 45.375C31.1281 45.2384 31.1459 45.1037 31.1816 44.9726L31.6671 43.1747H34.6129C34.7952 43.1747 34.977 43.1889 35.1592 43.1962ZM29.7286 43.1747L29.375 44.4834C29.2964 44.7734 29.2572 45.0726 29.2572 45.375C29.2572 46.6398 29.957 47.7334 30.9815 48.3226L30.6878 49.4956L32.5026 49.9497L32.7936 48.7876H32.9731C33.2142 48.7876 33.4481 48.7538 33.6774 48.7054V56.2715H1.87097V7.62633H14.0323V2.01342H45.8387V30.342L43.8152 28.9926C43.0437 28.4792 42.1466 28.207 41.2202 28.207H41.148L45.0416 13.8015C45.1202 13.5115 45.1595 13.2123 45.1595 12.9099C45.1595 11.028 43.6284 9.49729 41.7469 9.49729H41.4436C39.9051 9.49729 38.5503 10.5346 38.1488 12.0201L35.5484 21.6426V5.75536H15.9032V7.62633H33.6774V28.207H31.742C30.7239 28.207 29.7651 28.5445 28.9635 29.1425H19.6452V31.0134H26.9979L25.127 32.8844H19.6452V34.7554H23.2569L21.6938 36.3185C21.142 36.8693 20.8378 37.6029 20.8378 38.384C20.8378 39.9942 22.1474 41.3037 23.7585 41.3037C24.0467 41.3037 24.3244 41.2485 24.5939 41.1681C24.593 41.2138 24.5797 41.2572 24.5797 41.3037C24.5797 42.3356 25.4188 43.1747 26.4507 43.1747H29.7286ZM36.9347 36.6263H33.4372L37.3874 22.0103L40.5963 23.0796L36.9347 36.6263ZM29.7578 30.8992C30.2808 30.3771 31.0039 30.0779 31.742 30.0779H33.2686L32.5053 32.9013C31.3218 32.9442 30.2123 33.412 29.3704 34.2538L24.4994 39.1249C24.3039 39.3204 24.0334 39.4328 23.7575 39.4328C23.1783 39.4328 22.7079 38.9623 22.7079 38.384C22.7079 38.1035 22.8175 37.8404 23.0157 37.6422L29.7578 30.8992ZM30.6933 35.5766C31.0468 35.2231 31.4968 34.9819 31.9768 34.8563L31.4986 36.6263H29.6445L30.6933 35.5766ZM43.2351 13.3132L42.0895 17.5517L38.8806 16.4824L39.9545 12.5088C40.1367 11.8369 40.7488 11.3683 41.4436 11.3683H41.7469C42.5974 11.3683 43.2885 12.0594 43.2885 12.9099C43.2885 13.0465 43.2707 13.1812 43.2351 13.3132ZM38.3923 18.2917L41.6012 19.361L41.0846 21.2703L37.8757 20.201L38.3923 18.2917ZM39.5466 34.7554C40.0623 34.7554 40.4821 35.1756 40.4821 35.6908C40.4821 36.2061 40.0623 36.6263 39.5466 36.6263H38.8724L39.3785 34.7554H39.5466Z', fill='black')
								path(d='M7.4834 13.2393H9.35437V15.1102H7.4834V13.2393Z', fill='black')
								path(d='M11.2256 13.2393H13.0966V15.1102H11.2256V13.2393Z', fill='black')
								path(d='M14.9678 13.2393H16.8387V15.1102H14.9678V13.2393Z', fill='black')
								path(d='M18.71 13.2393H20.5809V15.1102H18.71V13.2393Z', fill='black')
								path(d='M22.4512 13.2393H24.3221V15.1102H22.4512V13.2393Z', fill='black')
								path(d='M19.3709 22.32L18.0481 20.9972L9.35465 29.6906L8.1451 28.4811L6.82227 29.8039L9.35465 32.3363L19.3709 22.32Z', fill='black')
								path(d='M18.0481 36.9004L9.35465 45.5938L8.1451 44.3843L6.82227 45.7071L9.35465 48.2395L19.3709 38.2232L18.0481 36.9004Z', fill='black')
								path(d='M29.9355 51.5941H31.8065V53.4651H29.9355V51.5941Z', fill='black')
								path(d='M17.7744 51.5941H28.0647V53.4651H17.7744V51.5941Z', fill='black')
								path(d='M19.6455 25.4005H31.8068V27.2715H19.6455V25.4005Z', fill='black')
							h3 Personal Taxation
							p A comprehensive approach involving an analysis of potential personal scenarios and incorporating current and future tax legislation
							a(href="#") Read More
							a.link(href="#")
	.blog
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Blog
					.items.dfr
						a.item(href="#")
							img(src="img/blog-1.jpg", alt="#")
							h4 Passionate Opponents Of One-Size-Fits-All For the horde
							ul.meta.dfr
								li.author by Gevorg Chibuckchyan
								li.date December 29, 2019  12:24PM
							p We’re all about giving you the information you need to make an informed decision. Standard packages of services are great for firms operating on a volume-basis looking to minimize engagement time...
						a.item(href="#")
							img(src="img/blog-2.jpg", alt="#")
							h4 Future-Oriented And On The Forefront Of Trends
							ul.meta.dfr
								li.author by Gevorg Chibuckchyan
								li.date December 29, 2019  12:24PM
							p Having consultations on everything from bitcoin to data analytics and the use of artificial intelligence, we stay informed to continue providing forward-thinking advice. We pride ourselves on knowing our...
						a.item(href="#")
							img(src="img/blog-3.jpg", alt="#")
							h4 Equipped To Handle Today’s Challanges Of Hogwarts
							ul.meta.dfr
								li.author by Gevorg Chibuckchyan
								li.date December 29, 2019  12:24PM
							p We’re all about giving you the information you need to make an informed decision. Standard packages of services are great for firms operating on a volume-basis looking to minimize engagement time...
	.map
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfc
					form
						h3 Contact Us
						.input.label
							label Name
							input(type="text")
						.input.label
							label Email
							input(type="text")
						.input.label
							label Phone
							input(type="text")
						.input
							input.button(type="submit" value="Send Request")
		#map(data-lat="43.660412" data-lng="-79.374814")
