section
	.inner-team
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Team of Professionals
					.dfr
						.img
							img(src="img/Gus-Patel.png", alt="")
						.desc
							h3 Gus Patel
							h4 Partner
							ul.meta
								li CPA
								li CA
								li EET
								li LPA
							p Gus’ background in engineering and accounting provides him with a unique perspective on servicing clients in many sectors. He has extensive experience in assisting clients with: tax advisory, remuneration strategies, business succession, indirect tax, voluntary disclosure applications, and CRA tax audits. Gus co-founded Abacus to provide his clientele with a comprehensive approach to tax, wealth management, and business planning.
							ul.soc
								li.icon-facebook
									a(href="#")
								li.icon-twitter
									a(href="#")
								li.icon-instagram
									a(href="#")
							a.back.icon-left-arrow(href="#") Back to Team
						.partners.slider
							.partner
								.img
									img(src="img/Gevorg.png" alt="#")
								h3 Gevorg Chibukhchyan
								h4 Intermediate Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Evelyna.png" alt="#")
								h3 Evelina Golubieva
								h4 Junior Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Milly.png" alt="#")
								h3 Milly Chen
								h4 Junior Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Rahul.png" alt="#")
								h3 Rahul Madhar
								h4 Junior Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Soojin.png" alt="#")
								h3 Soojin Kim
								h4 Intermediate Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Julia.png" alt="#")
								h3 Julia Petrenko
								h4 Bookkeeper
								a.link(href="#")
							.partner
								.img
									img(src="img/Tatiana.png" alt="#")
								h3 Tatiana Polechtchouk
								h4 Intermediate Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Gevorg.png" alt="#")
								h3 Gevorg Chibukhchyan
								h4 Intermediate Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Evelyna.png" alt="#")
								h3 Evelina Golubieva
								h4 Junior Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Milly.png" alt="#")
								h3 Milly Chen
								h4 Junior Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Rahul.png" alt="#")
								h3 Rahul Madhar
								h4 Junior Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Soojin.png" alt="#")
								h3 Soojin Kim
								h4 Intermediate Associate
								a.link(href="#")
							.partner
								.img
									img(src="img/Julia.png" alt="#")
								h3 Julia Petrenko
								h4 Bookkeeper
								a.link(href="#")
							.partner
								.img
									img(src="img/Tatiana.png" alt="#")
								h3 Tatiana Polechtchouk
								h4 Intermediate Associate
								a.link(href="#")
