
<section>
  <div class="map contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form>
            <h3>Contact Us</h3>
            <div class="input label">
              <label>Name</label>
              <input type="text"/>
            </div>
            <div class="input label">
              <label>Email</label>
              <input type="text"/>
            </div>
            <div class="input label">
              <label>Phone</label>
              <input type="text"/>
            </div>
            <div class="input">
              <input class="button" type="submit" value="Send Request"/>
            </div>
          </form>
          <ul>
            <li><strong>Office Address</strong>143 Willowdale Ave.<br/>Suite #100br<br/>Toronto, Ontario<br/>M2N 4Y5</li>
            <li><a class="icon-phone" href="tel:416-440-1600">416-440-1600</a><a class="icon-fax" href="fax:416-946-1296">416-946-1296</a></li>
            <li><strong>Hours of Operation</strong>Monday to Friday<br/>9:00 AM – 5:30 PM</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="map" data-lat="43.660412" data-lng="-79.374814"></div>
  </div>
</section>
