
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfr"><a class="logo" href="#"><img src="img/logo-white.svg" alt="#"/></a>
        <ul class="menu">
          <li><a href="#">Services</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <ul class="soc">
          <li class="icon-facebook"><a href="#"></a></li>
          <li class="icon-linkedin"><a href="#"></a></li>
          <li class="icon-twitter"><a href="#"></a></li>
        </ul>
        <p class="copyright">Copyright Abacus 2019</p>
      </div>
    </div>
  </div>
</footer>
