
<section>
  <div class="banner-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="title">Team of Professionals </h1>
          <div class="img"> <img src="img/banner.png" alt=""/><i class="icon-swipe"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Partners</h2>
          <div class="partners">
            <div class="partner">
              <div class="img"><img src="img/Gus-Patel.png" alt="#"/></div>
              <h3>Gus Patel</h3>
              <h4>Partner</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Joeseph.png" alt="#"/></div>
              <h3>Joseph H. Cass</h3>
              <h4>Partner</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Igor.png" alt="#"/></div>
              <h3>Igor Kostioutchenko</h3>
              <h4>Partner</h4><a class="link" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Senior Personnel</h2>
          <div class="partners">
            <div class="partner">
              <div class="img"><img src="img/Natalia.png" alt="#"/></div>
              <h3>Natalia Semerdji</h3>
              <h4>Manager</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Khrystyna.png" alt="#"/></div>
              <h3>Khrystyna Zhovnirchyk</h3>
              <h4>Senior Associate</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Agata.png" alt="#"/></div>
              <h3>Agata Zbijowska</h3>
              <h4>Project Coordinator</h4><a class="link" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Practitioners</h2>
          <div class="partners slider">
            <div class="partner">
              <div class="img"><img src="img/Gevorg.png" alt="#"/></div>
              <h3>Gevorg Chibukhchyan</h3>
              <h4>Intermediate Associate</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Evelyna.png" alt="#"/></div>
              <h3>Evelina Golubieva</h3>
              <h4>Junior Associate</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Milly.png" alt="#"/></div>
              <h3>Milly Chen</h3>
              <h4>Junior Associate</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Rahul.png" alt="#"/></div>
              <h3>Rahul Madhar</h3>
              <h4>Junior Associate</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Soojin.png" alt="#"/></div>
              <h3>Soojin Kim</h3>
              <h4>Intermediate Associate</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Julia.png" alt="#"/></div>
              <h3>Julia Petrenko</h3>
              <h4>Bookkeeper</h4><a class="link" href="#"></a>
            </div>
            <div class="partner">
              <div class="img"><img src="img/Tatiana.png" alt="#"/></div>
              <h3>Tatiana Polechtchouk</h3>
              <h4>Intermediate Associate</h4><a class="link" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
